@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>Essa é uma aplicação desenvolvida no curso Dominando o ASP.NET MVC Core.</p>
</div>
