@model IEnumerable<Store.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<vc:summary></vc:summary>
<hr />
<p><a suppress-by-claim-name="Product" suppress-by-claim-value="Add" class="btn btn-info" asp-action="Create">Novo</a></p>
<partial name="_ProductsList" />
